html,
body {
  font-family: Arial, Tahoma, san-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  overflow: hidden;
  scroll: no;
}

/* form and fields */
select.wtw-fileselectcategory {
  font-size: 1em;
  font-weight: normal;
}
strong {
  font-weight: 400;
  font-size: inherit;
}
/* titles, text, and label styles */
.wtw-red {
  color: red;
}

.wtw-objectfolder {
  text-align: left;
  margin: 10px;
  font-size: 0.8em;
  width: 100%;
}

.wtw-sampletext {
  font-size: 0.7em;
  color: #afafaf;
}

.wtw-active {
  font-weight: bold;
  font-size: 1.2em;
}

.wtw-deactive {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

.wtw-webcount {
  display: inline-block;
  color: blue;
}

.wtw-webcountzero {
  display: inline-block;
  color: #000000;
}

.wtw-horizontalmenu {
  font-size: 1em;
  text-align: left;
  margin: 0px 20px 0px 20px;
}

.wtw-example {
  font-weight: normal;
  font-size: 0.8em;
  color: #c0c0c0;
  white-space: normal;
}

.wtw-whitebg {
  color: #000000;
  background-color: #ffffff;
}

.wtw-yellowbackground {
  background-color: yellow;
}

.wtw-toparrowtext {
  color: #fff7da;
  float: left;
  margin-top: 8px;
}

.wtw-greenmessage {
  color: green;
  visibility: hidden;
  text-align: center;
}

.wtw-grayleft {
  white-space: normal;
  font-weight: normal;
  color: #c0c0c0;
  text-align: left;
}

li.wtw-grayleft {
  white-space: normal;
  font-weight: normal;
  color: #c0c0c0;
  text-align: left;
}

.wtw-examplenote {
  color: #303030;
  font-size: 1em;
  font-weight: normal;
}

.wtw-required {
  display: none;
  visibility: hidden;
  color: red;
  font-weight: bold;
}

.wtw-divarrow {
  font-size: 1.2em;
  float: right;
  margin-right: 5px;
  margin-top: -3px;
}

.wtw-floatright {
  float: right;
  margin-right: 15px;
  font-size: 0.8em;
  color: gray;
}

.wtw-localbuttonleftpad {
  padding: 5px;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  font-size: 1em;
  width: 10px;
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-top-right-radius: 20px;
}

.wtw-localbuttonrightpad {
  padding: 5px;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  font-size: 1em;
  width: 10px;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-top-left-radius: 20px;
}

.wtw-localbuttonmiddlepad {
  padding: 5px;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  width: 34px;
  color: gray;
  font-size: 1em;
  border-top: 1px solid #c0c0c0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.wtw-hiddenimageoption {
  float: right;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
}

.wtw-warningmessage {
  text-align: center;
  margin: 25px;
  padding: 15px;
  border: 1px solid red;
}

.wtw-detailprint {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  font-size: 0.8em;
  color: #afafaf;
  line-height: 2em;
  border: 1px solid #afafaf;
  padding: 5px;
}

.wtw-menufileselect {
  float: right;
  margin: 2px 10px 2px 2px;
  padding: 8px;
  border: 1px solid #375377;
  font-weight: normal;
}

.wtw-animated {
  float: right;
  margin-right: 25px;
  font-weight: bold;
  color: green;
  border: 1px solid green;
  border-radius: 15px;
  padding: 3px;
}

.wtw-pluginreqopt {
  float: right;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  min-height: 12px;
  margin: 0px 5px 0px 5px;
  padding: 3px;
}

.wtw-versionsummary {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #fdffb9;
  color: #000000;
  font-size: 1.2em;
  text-align: left;
  margin: 5px;
  padding: 8px;
  white-space: normal;
}

.wtw-controlpaneltitlediv {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #154360;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #000000;
}

.wtw-biglistleft {
  float: left;
  margin-left: 10px;
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
  margin-bottom: 2px;
  background-color: transparent;
  min-height: 32px;
}

.wtw-biglistcenter {
  width: 100%;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
  margin-bottom: 2px;
  background-color: transparent;
  min-height: 32px;
}

.wtw-quicktitle {
  font-size: 0.8em;
  color: white;
  margin: 0;
  /* width: 100%; */
  position: relative;
  padding: 10px 15px;
  text-align: left;
  background: #025d7b;
  cursor: pointer;
}

.wtw-pageheader {
  background-color: #000000;
  width: 100%;
  min-height: 42px;
  padding: 0px;
  color: #fff7da;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  margin: 0px;
}

.wtw-gotext {
  min-height: 32px;
  min-width: 200px;
  font-size: 1.4em;
}

.wtw-filelist {
  text-align: left;
  color: #000000;
}

.wtw-normalgray {
  margin-top: 20px;
  font-weight: normal;
  color: white;
}

.wtw-colorlist {
  text-align: left;
  color: #c0c0c0;
  border: 1px solid gray;
  border-radius: 10px;
}

.wtw-colorlistitem {
  margin-left: 20px;
  text-align: left;
  color: #c0c0c0;
}

.wtw-animlist {
  text-align: left;
  color: #c0c0c0;
  border: 1px solid gray;
  border-radius: 10px;
}

.wtw-animlistitem {
  margin-left: 20px;
  text-align: left;
  color: #c0c0c0;
}

.wtw-roundedmessage {
  font-size: 1em;
  border-radius: 10px;
  font-weight: normal;
  background-color: #ffffff;
  color: blue;
  border: 1px solid #000000;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

h2.wtw-roundedmessage {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: none;
}

h2.wtw-marginbottom {
  color: #ffffff;
  font-size: 1.3em;
  margin-bottom: 3px;
  cursor: default;
  font-weight: 400;
}

h4.wtw-marginbottom {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1em;
  background-color: #375377db;
  cursor: default;
  padding: 10px 0;
}

td.wtw-tdactive {
  background-color: #ffffff;
}

td.wtw-tddeactive {
  background-color: #cfcfcf;
}

td.wtw-tdactiverequired {
  background-color: #feeaea;
  border: 2px solid red;
}

td.wtw-tdactiveoptional {
  background-color: #feffd7;
  border: 2px solid red;
}

/* buttons and links */
.wtw-adminmenu {
  margin: 5px 10px;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
  color: white;
  border: 0;
  /* background: rgba(33, 33, 33, 0.2); */
  text-align: left;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  /* background: #0c233590; */
}

.wtw-adminmenu.active {
  /* margin-bottom: 0; */
}

.wtw-adminmenu .img {
  background: #025d7b;
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wtw-adminmenu .img::before {
  content: "";
  display: block;
  height: 100%;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  transition: background 0.4s;
}

.wtw-adminmenu:hover .img::before {
  background: white;
}

.wtw-adminmenu .text {
  background: #0c233590;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 400;
  height: 38px;
  display: flex;
  align-items: center;
  width: 242px;
  border: 2px solid transparent;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: border 0.4s;
}

.wtw-adminmenu.active .text {
  border-bottom-right-radius: 0;
}

.wtw-adminmenu:hover .text {
  border-color: #025d7b;
}

.wtw-adminmenu::before {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 17px;
  top: 50%;
  transform-origin: center right;
  transform: rotate(40deg);
  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-adminmenu::after {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 17px;
  top: 50%;
  transform-origin: center right;
  transform: rotate(-40deg);
  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-adminmenu.active::after {
  transform: rotate(50deg);
  transition: transform 0.4s;
}

.wtw-adminmenu.active::before {
  transform: rotate(130deg);
  transition: transform 0.4s;
}

.wtw-adminsubmenu {
  padding: 5px 0;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  text-align: left;
  padding: 4px 13px;
  cursor: pointer;
  border: 0;
}

.wtw-adminsubmenu:hover {
  background-color: #025d7b;
}

.wtw-searchresultbutton {
  float: right;
  border: 2px solid gray;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  width: 120px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  font-size: 1em;
  margin: 15px 5px 5px 5px;
  background-color: #ffffff;
}

.wtw-searchresultbutton:hover {
  border: 2px solid green;
  color: green;
  background-color: #fcffbd;
  cursor: pointer;
}

.wtw-searchresultbuttonyellow {
  float: right;
  border: 2px solid gray;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  width: 120px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  font-size: 1em;
  margin: 15px 5px 5px 5px;
  background-color: yellow;
  cursor: default;
}

.wtw-searchresultbuttonyellow:hover {
  border: 2px solid green;
  color: green;
  background-color: #fcffbd;
  cursor: pointer;
}

.wtw-quickbar {
  font-size: 10px;
  color: white;
  background-color: #273c2c;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 8px;
  text-align: center;
  border: 1px solid #226d22;
  margin-top: 0px;
  cursor: default;
}

.wtw-quickbar:hover {
  background-color: #226d22;
  cursor: pointer;
}

.wtw-quickbaroff {
  font-size: 10px;
  color: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 8px;
  text-align: center;
  border: 0;
  margin-top: 0px;
}

.wtw-quickbaroff:hover {
  background-color: #6d2222;
  cursor: pointer;
}

.wtw-objectfile {
  text-align: center;
  padding-top: 10px;
  width: 348px;
  height: 35px;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #cfcfcf;
  background-color: transparent;
}

.wtw-objectfile:hover {
  background-color: #fbffde;
  color: #375377;
  cursor: pointer;
}

.wtw-backbutton {
  position: absolute;
  left: 6px;
  top: 6px;
  z-index: 8002;
  text-align: center;
  border: 1px solid #454545;
  padding: 3px;
  color: #ffffff;
  font-size: 1.4em;
}

.submenu-header {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 15px;
  background: #0c2335;
}

.submenu-header .wtw-menuheader {
  padding: 0;
  background: transparent;
}

.submenu-header .wtw-backbutton {
  position: relative;
  top: auto;
  left: auto;
  display: block;
  border: 0;
  background: #025d7b;
  margin-left: 20px;
  z-index: 1;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 0.8rem;
  font-weight: 300;
}

.submenu-header .wtw-backbutton:hover {
  border: 0;
}

.submenu-header .wtw-backbutton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  display: block;
  width: 21px;
  height: 21px;
  background: #025d7b;
  transform-origin: center;
  transform: translate(-40%, -50%) rotate(45deg);
  z-index: -1;
  border-radius: 5px;
}

.wtw-backbutton:hover {
  border: 1px solid #ffffff;
  color: FFF7DA;
  cursor: pointer;
}

.wtw-versionheader {
  border: 1px solid black;
  background-color: #0036ff;
  color: white;
  font-size: 1.2em;
  text-align: left;
  margin: 5px;
  padding: 8px;
}

.wtw-versionheader:hover {
  cursor: pointer;
  background-color: #001359;
  color: #fdffb9;
}

.wtw-versionheadergreen {
  border: 1px solid black;
  background-color: #1a7311;
  color: white;
  font-size: 1.2em;
  text-align: left;
  margin: 5px;
  padding: 8px;
}

.wtw-versionheadergreen:hover {
  cursor: pointer;
  background-color: #001359;
  color: #fdffb9;
}

.wtw-versionheaderblack {
  border: 1px solid black;
  background-color: #111111;
  color: white;
  font-size: 1.2em;
  text-align: left;
  margin: 5px;
  padding: 8px;
}

.wtw-versionheaderblack:hover {
  cursor: pointer;
  background-color: #001359;
  color: #fdffb9;
}

.wtw-archivebutton {
  float: right;
  border: 1px solid #000000;
  background-color: #111111;
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin: 5px;
  padding: 8px;
}

.wtw-archivebutton:hover {
  cursor: pointer;
  background-color: #001359;
  color: #fdffb9;
}

.wtw-videobuttons {
  pointer-events: auto;
  touch-action: auto;
}

.wtw-videobuttons:hover {
  cursor: pointer;
}

.wtw-download {
  display: inline-block;
  text-decoration: underline;
  color: #000000;
}

.wtw-download:hover {
  color: #375377;
  cursor: pointer;
}

.wtw-xout {
  display: inline-block;
  border: 1px solid #000000;
  margin: 0px;
  padding: 0px 2px 0px 2px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
}

.wtw-xout:hover {
  background-color: #fbffde;
  cursor: pointer;
}

.wtw-menutabtop {
  padding: 10px;
  color: #000000;
  display: none;
  visibility: hidden;
  margin: 2px;
  border: 1px solid #000000;
  background-color: transparent;
  font-size: 1em;
  font-weight: normal;
}

.wtw-menutabtop:hover {
  cursor: pointer;
  color: #41593d;
  background-color: #feffce;
  border: 1px solid #41593d;
}

.wtw-menutabtopselected {
  padding: 10px;
  color: #375377;
  display: none;
  visibility: hidden;
  margin: 2px;
  border: 1px solid #375377;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: normal;
}

.wtw-menutabtopselected:hover {
  cursor: pointer;
  color: #41593d;
  background-color: #ffffff;
  border: 1px solid #41593d;
}

.wtw-menutabtopmain {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: blue;
  display: none;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: top;
  border: 3px solid blue;
  font-size: 1em;
  cursor: pointer;
}

.wtw-menutabtopmain:hover {
  color: #c0c0c0;
  border: 1px solid red;
}

.wtw-uploadbutton {
  padding: 10px;
  color: #375377;
  margin: 2px;
  float: right;
  border: 1px solid #375377;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: normal;
}

.wtw-uploadbutton:hover {
  cursor: pointer;
  color: #41593d;
  background-color: #ffffff;
  border: 1px solid #41593d;
}
/* 
.wtw-menulevel0 {
	margin: 0px;
	padding: 7px 0px 7px 10px;
	font-weight: normal;
	font-size: 1em;
	color: white;
	border-top: transparent solid 1px;
	border-bottom: transparent solid 1px;
	background: rgba(33, 33, 33, 0.2);
	text-align: left;
	vertical-align: middle;
}

.wtw-menulevel0:hover {
	cursor: pointer;
	color: #FFF7DA;
	border-top: #454545 solid 1px;
	border-bottom: #454545 solid 1px;
	background-color: #282828;
} */

.wtw-menulevel00 {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 3px;
  font-weight: normal;
  font-size: 1em;
  color: #c0c0c0;
  border: #c0c0c0 solid 1px;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.6);
}

.wtw-menulevel00:hover {
  cursor: pointer;
  color: green;
  border: green solid 1px;
  background: rgba(255, 255, 255, 1);
}

.wtw-menulevel0selected {
  margin: 5px;
  padding: 3px;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  border: red solid 1px;
  border-radius: 12px;
  background: rgba(256, 200, 200, 0.6);
}

.wtw-menulevel0selected:hover {
  cursor: pointer;
  color: green;
  border: red solid 1px;
  background: rgba(256, 255, 255, 1);
}

.wtw-showhideadvanced {
  font-size: 1em;
  font-weight: 300;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  touch-action: auto;
  background: #2c8aa9;
  border: 2px solid #2c8aa9;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 3px;
  transition: all 0.5s;
  position: relative;
  padding-right: 30px;
  margin: 10px auto;
}
.wtw-showhideadvanced::after {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 10px;
  top: 55%;
  transform-origin: center left;
  transform: translateY(50%) rotate(-45deg);
  border-radius: 5px;
  transition: transform 0.4s;
}
.wtw-showhideadvanced::before {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 10px;
  top: 55%;
  transform-origin: center left;
  transform: translateY(50%) rotate(-140deg);
  border-radius: 5px;
  transition: transform 0.4s;
}
.wtw-showhideadvanced.active::after {
  transform: translateY(-50%) rotate(132deg);
}
.wtw-showhideadvanced.active::before {
  transform: translateY(-50%) rotate(40deg);
}
.wtw-showhideadvanced:hover {
  background: transparent;
}
.wtw-advanced {
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}
.wtw-advanced.active {
  animation: scrollDown 0.8s 1;
  max-height: 1000vh;
}
.wtw-showhideadvancedblack {
  font-size: 1em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  pointer-events: auto;
  touch-action: auto;
}

.wtw-showhideadvancedblack:hover {
  color: #000000;
  cursor: pointer;
}

.wtw-mainmenubutton {
  position: absolute;
  z-index: 8001;
  top: 0;
  height: 30px;
  color: white;
  min-width: 30px;
  padding: 0px;
  left: 0px;
  pointer-events: auto;
  touch-action: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  background: #025d7b;
  border-radius: 100%;
}

.wtw-mainmenubutton::before {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: center left;
  transform: rotate(-40deg);

  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-mainmenubutton::after {
  content: "";
  display: block;
  width: 7px;
  height: 2px;
  background: white;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: center left;
  transform: rotate(40deg);
  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-mainmenubutton.closed::after {
  transform-origin: center right;
  transform: rotate(-40deg);
}

.wtw-mainmenubutton.closed::before {
  transform-origin: center right;
  transform: rotate(40deg);
}

.wtw-mainmenubutton:hover {
  color: #fff7da;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.wtw-arrowright {
  margin: 3px 0px 0px 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ffffff;
}

.wtw-arrowright:hover {
  cursor: pointer;
  color: #fff7da;
}

.wtw-arrowleft {
  margin: 3px 0px 0px 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ffffff;
  visibility: hidden;
}

.wtw-arrowleft:hover {
  cursor: pointer;
  color: #fff7da;
}

.wtw-linkwrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

.wtw-pageclose {
  float: right;
  margin: 5px 5px 0px 0px;
}

.wtw-pageclose:hover {
  cursor: pointer;
}

.wtw-toparrowlink {
  color: #fff7da;
  float: left;
  margin-top: 8px;
}

.wtw-toparrowlink:hover {
  color: #ffffff;
  cursor: pointer;
}

.wtw-rightbutton {
  padding: 7px 15px;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  background-color: #025d7b;
  text-align: center;
  vertical-align: middle;
  display: block !important;
  border: 2px solid #025d7b;
  transition: all 0.5s;
  border-radius: 3px;
  margin: 10px 15px 0 auto;
  width: fit-content;
  cursor: pointer;
}

.wtw-rightbutton:hover {
  background: transparent;
}

.wtw-leftbutton {
  padding: 5px;
  float: left;
  margin-left: 5px;
  font-size: 1em;
  color: gray;
  border: 1px solid #c0c0c0;
  background-color: transparent;
}

.wtw-leftbutton:hover {
  background-color: #fbffde;
  color: #375377;
  border: 1px solid black;
  cursor: pointer;
}

a.wtw-leftbutton {
  padding: 5px;
  float: left;
  margin-left: 5px;
  font-size: 1em;
  color: gray;
  border: 1px solid #c0c0c0;
  background-color: transparent;
  text-decoration: none;
}

a.wtw-leftbutton:hover {
  background-color: #fbffde;
  color: #375377;
  border: 1px solid black;
  cursor: pointer;
}

.wtw-localbuttonselected {
  padding: 5px;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  font-size: 1em;
  color: gray;
  border: 1px solid #c0c0c0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fbffde;
}

.wtw-localbuttonselected:hover {
  background-color: yellow;
  color: #375377;
  border: 1px solid black;
  cursor: pointer;
}

.tab-buttons {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 5px solid #025d7b;
  margin: 10px 0;
}

.tab-buttons .tab-button {
  background: #f9f9f9;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0;
  color: black;
  position: relative;
  font-size: 0.8rem;
  padding: 4px 13px;
  z-index: 1;
  cursor: pointer;
}

.tab-buttons .tab-button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 0 solid transparent;
  border-left: 13px solid white;
  border-top: 25px solid transparent;
  transform: translateX(91%);
  z-index: 1;
}

.tab-buttons .tab-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 0 solid transparent;
  border-right: 13px solid white;
  border-top: 25px solid transparent;
  transform: translateX(-91%);
  z-index: 1;
}

.tab-buttons .tab-button.active {
  background: #025d7b;
  color: white;
  z-index: 2;
}

.tab-buttons .tab-button.active::after {
  border-left-color: #025d7b;
}

.tab-buttons .tab-button.active::before {
  border-right-color: #025d7b;
}

.wtw-localbutton {
  padding: 5px;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  font-size: 1em;
  color: gray;
  border: 1px solid #c0c0c0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
}

.wtw-localbutton:hover {
  background-color: yellow;
  color: #375377;
  border: 1px solid black;
  cursor: pointer;
}

.wtw-gobutton {
  font-size: 1.4em;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.wtw-gobutton:hover {
  background-color: #feffce;
  color: #41593d;
  cursor: pointer;
  border: 1px solid #41593d;
}

a.wtw-linkwrap {
  color: #afafaf;
}

a.wtw-linkwrap:hover {
  color: #fff7da;
}

/* images */
.wtw-adminiconimage {
  height: 45px;
  width: auto;
}

.wtw-snapshot {
  display: none;
  visibility: hidden;
  margin-left: 15px;
  width: 280px;
  height: auto;
}

.wtw-snapshot90p {
  display: none;
  visibility: hidden;
  margin-left: 15px;
  width: 90%;
  height: auto;
}

.wtw-previewimage {
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 65px;
  max-height: 65px;
  width: auto;
  height: auto;
  border: 1px solid #c0c0c0;
}

.wtw-tinyimage {
  height: 25px;
  width: 25px;
  border: 1px solid #c0c0c0;
}

.wtw-smallimage {
  height: 65px;
  width: auto;
  border: 1px solid #c0c0c0;
}

.wtw-smallimageleft {
  float: left;
  width: 250px;
  height: auto;
  margin: 0px 10px 10px 10px;
}

.wtw-sampleheightmap {
  max-width: 65px;
  max-height: 65px;
  width: auto;
  height: auto;
  border: 1px solid #c0c0c0;
}

.wtw-sampleheightmaplarge {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  border: 1px solid #c0c0c0;
}

.wtw-smallicon {
  margin: 2px 5px 2px 5px;
}

.wtw-toparrowicon {
  float: left;
  margin: 3px 10px 3px 10px;
  cursor: pointer;
}

.wtw-imagefitwidth {
  max-width: 98%;
  height: auto;
}

.wtw-fullimage {
  width: 100px;
  height: auto;
}

.wtw-thumbnailleft {
  width: 120px;
  height: auto;
  float: left;
  margin: 5px 10px 5px 5px;
}

/* layout, visibility, and alignment */
.wtw-nowrap {
  white-space: nowrap;
}

.wtw-wrap {
  white-space: normal;
}

.wtw-adminmenuform {
  display: none;
  visibility: hidden;
  padding-bottom: 10px;
}

.wtw-adminmenudiv {
  /* display: none; */
  /* visibility: hidden; */
  max-height: 0;
  background: #0c233590;
  position: relative;
  overflow: hidden;
  width: 242px;
  margin-left: auto;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  transition: all 0.4s;
  margin-top: -5px;
}

.wtw-adminmenudiv.active {
  animation: scrollDown 0.8s 1;
  padding: 7px 0;
  max-height: 1000vh;
}

@keyframes scrollDown {
  from {
    max-height: 0;
    padding: 0;
  }

  to {
    max-height: 1000vh;
    padding: 7px 0;
  }
}

/* .wtw-adminmenu:hover + .wtw-adminmenudiv{
	display: block !important;
	visibility: visible !important;
} */

.wtw-colorlistvalue {
  float: right;
  margin-right: 20px;
}

.wtw-animlistvalue {
  float: right;
  margin-right: 20px;
}

.wtw-leftradius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wtw-rightradius {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wtw-quickcontainer {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

.wtw-showimageoption {
  display: inline-block;
  cursor: pointer;
}

.wtw-cursorpointer {
  cursor: pointer;
}

.wtw-normalwrap {
  white-space: normal;
}

.wtw-imagesframe {
  width: 100%;
  border: none;
  overflow-y: auto;
}

.wtw-searchbar {
  margin: 3px 2px 0px 20px;
  padding: 2px;
  display: inline-block;
}

.wtw-subdiv {
  width: 100%;
  min-height: 300px;
  display: none;
  visibility: hidden;
  min-height: auto;
}

.wtw-objectcontainer {
  width: 350px;
  margin: 15px;
  border: 1px solid #afafaf;
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
}

.wtw-menulevel0text {
  margin: 5px 25px 5px 25px;
  padding: 3px;
  font-weight: 200;
  font-size: 0.8em;
  color: white;
  border: 0;
  border-radius: 4px;
  background-color: #025d7b50;
  padding: 10px 10px;
  margin: 10px auto;
  width: 80%;
}

.wtw-videopreview {
  position: absolute;
  z-index: 9001;
  top: 40px;
  right: 40px;
  margin: 0px;
  padding: 0px;
  width: 30%;
  height: auto;
  min-height: 240px;
  border: transparent solid 1px;
  background: rgba(33, 33, 33, 0.2);
  text-align: left;
  vertical-align: middle;
  display: none;
  visibility: hidden;
  pointer-events: none;
  touch-action: none;
}

.wtw-camerapreview {
  border: 1px solid rgb(15, 158, 238);
  width: 100%;
  pointer-events: none;
  touch-action: none;
}

.wtw-controlpaneldiv {
  position: relative;
  border: 2px solid #154360;
  border-radius: 15px;
  width: 96%;
  margin-left: 7px;
  margin-bottom: 15px;
  padding: 10px;
  vertical-align: top;
  color: #000000;
  background-color: #ffffff;
}

.wtw-roundedbox {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 5px;
  margin: 15px;
  background-color: #ffffff;
  color: #000000;
}

.wtw-sampleheightmapdiv {
  width: 65px;
  height: 65px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.wtw-sampleheightmaplargediv {
  width: 150px;
  height: 150px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.wtw-menubuttontext {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.wtw-dashboardpage {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.wtw-quickeditorsettings {
  font-weight: normal;
  font-size: 1em;
  color: white;
  border-top: #333333;
  border-bottom: transparent solid 1px;
  background: rgba(33, 33, 33, 1);
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 8000;
  bottom: auto;
  width: 320px;
  padding: 0;
  margin: 0px;
}

.wtw-quickeditorsettings .quickeditorsettings-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 14px;
}

.wtw-quickeditorsettings.hide {
}

.wtw-quickeditorsettings.hide .switches-list {
  animation: scrollUp 0.4s 1;
  padding: 0;
  max-height: 0;
}

@keyframes scrollUp {
  from {
    max-height: 1000vh;
    padding: 5px 20px;
  }

  to {
    max-height: 0;
    padding: 0 20px;
  }
}

.wtw-quickeditorsettings .quickeditorsettings-header a {
  display: block;
  min-width: 30px;
  min-height: 30px;
  background: red;
  color: white;
  font-size: 16px;
  position: relative;
  border-radius: 50%;
  color: powderblue;
}

.wtw-quickeditorsettings .wtw-quicktitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 2px;
  height: 10px;
  background: white;
  transform: translate(-140%, -50%) rotate(-40deg);
  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-quickeditorsettings.hide .wtw-quicktitle::after {
  transform: translate(-140%, -50%) rotate(40deg);
}

.wtw-quickeditorsettings .wtw-quicktitle::before {
  content: "";
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 2px;
  height: 10px;
  background: white;
  transform: translate(140%, -50%) rotate(40deg);
  border-radius: 5px;
  transition: transform 0.4s;
}

.wtw-quickeditorsettings.hide .wtw-quicktitle::before {
  transform: translate(140%, -50%) rotate(-40deg);
}

.wtw-popupform {
  width: 50%;
  min-height: 400px;
  left: 25%;
  z-index: 2999;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: absolute;
  top: -550px;
  color: #000000;
  padding: 0px;
  display: none;
  visibility: hidden;
  pointer-events: auto;
  touch-action: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wtw-pageform {
  border: 1px solid gray;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2590;
  color: #000000;
  margin: 0px;
  padding: 0px;
  display: none;
  visibility: hidden;
}

/* scrolling */
.wtw-formscroll {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  min-width: 300px;
}

.wtw-filelistdiv {
  text-align: left;
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  overflow-y: none;
  background-color: #ffffff;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* loading, progress, and blinking */

/* 3d Model styling redefined */
.wtw-one-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
.wtw-one-items.single {
  justify-content: space-between;
}
.wtw-one-items h2 {
  width: 25%;
  margin: 0;
  font-size: 13px;
  text-align: left;
  font-weight: 300;

  white-space: break-spaces;
}
.wtw-one-items h2 span {
  font-size: 11px;
  font-weight: 200;
}
.wtw-one-items.single h2 {
	width: 60%;
    display: flow-root;
    white-space: break-spaces;
}
.wtw-one-items.single h2 a {
  float: none;
  display: inline;
  margin: 0;
  height: 20px;
  margin-left: 10px;
}
.wtw-one-items .wtw-onecol,
.wtw-one-items .single-item {
  width: 52px;
  position: relative;
  padding: 20px 0;
  margin-left: 25px;
  display: flex !important;
  justify-content: end;
}
.wtw-one-items.single .wtw-onecol {
  width: 100px;
}

.wtw-one-items:not(.single) .wtw-onecol:nth-last-of-type(3)::before,
.wtw-one-items:not(.single) .single-item:nth-last-of-type(3)::before {
  content: "X:";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: 13px;
  height: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.wtw-one-items:not(.single) .wtw-onecol:nth-last-of-type(2)::before,
.wtw-one-items:not(.single) .single-item:nth-last-of-type(2)::before {
  content: "Y:";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: 13px;
  height: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.wtw-one-items:not(.single) .wtw-onecol:nth-last-of-type(1)::before,
.wtw-one-items:not(.single) .single-item:nth-last-of-type(1)::before {
  content: "Z:";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: 13px;
  height: 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.wtw-one-items .wtw-onecol > input,
.wtw-one-items .single-item .item-input {
  min-width: 0;
  width: 50px;
  display: block;
  margin: 0;
  float: none;
  padding: 3px 0px;
  font-size: 14px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  max-width: none;
  text-align: center;
}
.wtw-one-items.single .wtw-onecol > input {
  width: 100px;
  margin: auto;
}
.wtw-one-items .wtw-onecol .item-input-down,
.wtw-one-items .single-item .item-input-down {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 25px;
  /* transform: translateX(-100%); */
}
.wtw-one-items.two-arrows-only .wtw-onecol .item-input-down {
  transform: translateX(50%);
}
.wtw-one-items.two-arrows-only .wtw-onecol .item-input-up {
  transform: translateX(50%) rotate(180deg);
}
.wtw-one-items .single-item > div {
}

.wtw-one-items .wtw-onecol > div::after,
.wtw-one-items .single-item > div::after {
  content: "";
  width: 7px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-80%, 0%) rotate(45deg);
  z-index: -1;
}

.wtw-one-items .wtw-onecol > div::before,
.wtw-one-items .single-item > div::before {
  content: "";
  width: 7px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 5px;
  transform: translate(80%, 0%) rotate(-45deg);
  z-index: -1;
}

.wtw-one-items .wtw-onecol > div > input,
.wtw-one-items .single-item > div > input {
  opacity: 0;
  width: 20px;
  height: 20px;
  z-index: 0;
  position: relative;
}

.wtw-one-items .wtw-onecol .item-input-down1,
.wtw-one-items .single-item .item-input-down1 {
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 25px;
  transform: translateX(100%);
}

.wtw-one-items .wtw-onecol .item-input-up,
.wtw-one-items .single-item .item-input-up {
  position: absolute;
  right: 50%;
  top: 0;
  transform-origin: center;
  transform: rotate(180deg);
  width: 25px;
}

.wtw-one-items .wtw-onecol .item-input-up1,
.wtw-one-items .single-item .item-input-up1 {
  position: absolute;
  top: 0;
  right: 50%;
  transform-origin: center;
  transform: translateX(100%) rotate(180deg);
  width: 25px;
}
.wtw-one-items.four-arrows .item-input-down {
  left: 0;
}
.wtw-one-items.four-arrows .item-input-down1 {
  right: 50%;
  transform: none;
}
.wtw-one-items.four-arrows .item-input-down2 {
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 25px;
  transform: translateX(100%);
}
.wtw-one-items.four-arrows .item-input-down3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25px;
}
.wtw-one-items.four-arrows .item-input-up {
  right: auto;
  left: 0;
}
.wtw-one-items.four-arrows .item-input-up1 {
  transform: rotate(180deg);
}
.wtw-one-items.four-arrows .item-input-up2 {
  position: absolute;
  right: 50%;
  top: 0;
  transform-origin: center;
  transform: translateX(100%) rotate(180deg);
  width: 25px;
}
.wtw-one-items.four-arrows .item-input-up3 {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: rotate(180deg);
  width: 25px;
}

/* switches */
.switches-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  padding: 5px 20px;
  box-sizing: border-box;
  /* background: black; */
  gap: 10px 15px;
  transition: height 0.4s;
  max-height: 1000vh;
  overflow: hidden;
  transition: max-height 0.6s;
}

.switches-list .switch {
  display: flex;
  flex-direction: revert;
  align-items: center;
  justify-content: space-between;
  width: 47%;
}

.switches-list .switch p {
  width: 85px;
  text-align: left;
  margin: 0;
  font-size: 12px;
}

.switches-list .switch > div {
  cursor: pointer;
  background: #7e7e7e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 39px;
  height: 20px;
  position: relative;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
}

.switches-list .switch > div::after {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  bottom: 1px;
  left: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background: white;
  transition: all 0.4s;
}

.switches-list .switch .wtw-quickbar {
  background: #bada55;
}

.switches-list .switch .wtw-quickbar::after {
  transform: translateX(18px);
}

.mold-colors-list {
}

.mold-colors-list .mold-colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.mold-colors-list .mold-colors h2 {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  width: 60%;
}

.mold-colors-list .mold-colors input,
.mold-colors-list .mold-colors select {
  width: 40%;
  box-sizing: border-box;
}

.mold-colors-list .mold-colors input {
}

.mold-colors-list .mold-colors div {
  display: none;
}
